:root {
    --black-010: #161618;

    --green-010: #198754;

    --white-010: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    background-color: var(--black-010);
}

a {
    color: var(--green-010);
    font-weight: bold;
}

h1 {
    color: var(--green-010);
}

.container {
    height: 100vh;
}

/* CONTACT */
.contact {
    display: flex;
    justify-content: left;
    align-items: center;

    color: white;
    font-weight: bold;

    border-bottom: 1px solid var(--green-010)
}

.contact .contact-info {
    flex: 1;
}

.contact .contact-info p {
    margin-bottom: 0;
}

.contact .contact-actions {
    display: flex;
}

.alert {
    color: var(--white-010);
    font-weight: bold;
    font-size: 1.1em;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

/* ADD */
.container span {
    color: var(--green-010);
}

/* FORM */ 
.form label {
    color: var(--green-010);
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .contact {
        flex-direction: column;
        
        justify-content: left;
        align-items: flex-start;
        gap: 0.5em;
        margin-bottom: 2em;
    }
}
